<div data-s1-component="dropdown" data-type="text" data-size="md" role="listbox" aria-label="정렬">
  <div data-s1-part="option" role="option" aria-selected="true" tabindex="0" data-value="latest"><span data-s1-part="option-label">최신순</span></div>
  <div data-s1-part="option" role="option" aria-selected="false" tabindex="-1" data-value="popular"><span data-s1-part="option-label">인기순</span></div>
  <div data-s1-part="option" role="option" aria-selected="false" tabindex="-1" data-value="past"><span data-s1-part="option-label">과거순</span></div>
</div>

<div data-s1-component="dropdown" data-type="checkbox" data-size="md" aria-label="지역">
  <div data-s1-part="option" role="checkbox" aria-checked="false" tabindex="0" data-value="all" data-select-all="true">
    <div data-s1-component="checkbox" aria-hidden="true"><input type="checkbox" data-s1-part="control" tabindex="-1"></div>
    <span data-s1-part="option-label">전체 선택</span>
  </div>
  <div data-s1-part="divider"></div>
  <div data-s1-part="option" role="checkbox" aria-checked="true" tabindex="-1" data-value="seoul">
    <div data-s1-component="checkbox" aria-hidden="true"><input type="checkbox" data-s1-part="control" tabindex="-1" checked></div>
    <span data-s1-part="option-label">서울</span>
  </div>
  <div data-s1-part="option" role="checkbox" aria-checked="false" tabindex="-1" data-value="busan">
    <div data-s1-component="checkbox" aria-hidden="true"><input type="checkbox" data-s1-part="control" tabindex="-1"></div>
    <span data-s1-part="option-label">부산</span>
  </div>
</div>
